@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Address Book Application</h1>
    <p><a href="https://joegastring.netlify.app/">Check out my Portfolio!</a>.</p>
</div>
